.build-agent-status.disabled {
    text-decoration: line-through;
    color: darkred;
}

.tooltip {
    border: 1px solid black;
    background-color: white;
    padding: 5px
}

input.green-build {
    opacity: 0.65;
    cursor: not-allowed;
}

input.red-build {
    opacity: 0.65;
    cursor: not-allowed;
}

td.cleanup {
    white-space: nowrap;
    width: 145px;
}

th.tablesorter-headerAsc span {
  background: url('../../../../img/sortUp.gif') no-repeat right;
  padding-right: 16px;
}

th.tablesorter-headerDesc span {
  background: url('../../../../img/sortDown.gif') no-repeat right;
  padding-right: 16px;
}

.build-agent-name div.green-build {
    background: url('../../../../img/buildStates/running_green_transparent.gif') no-repeat right;
    padding-right: 16px;
}

.build-agent-name div.red-build {
    background: url('../../../../img/buildStates/running_red_transparent.gif') no-repeat right;
    padding-right: 16px;
}

tr.even {
    background: #ededed;
}

tr.even td {
    background: #ededed;
}

tr.odd {
    background: #FFFFFF;
}

tr.odd td {
    background: #FFFFFF;
}

tr.current-row {
    background: #FCFFE0;
}

tr.current-row td {
    background: #FCFFE0;
}

td.usage-path {
    font-style: italic;
}

td.usage-size {
    text-align:right;
}