.config-table {
    border-collapse: collapse;
}

table.config-table td {
    padding: 5px;
    border-bottom: black solid 1px;
    text-align: left;
}

table.agent-configuration {
    border-collapse: collapse;
}

table.agent-configuration td {
    padding: 5px;
    border-bottom: black solid 1px;
    text-align: left;
    vertical-align: top;
}

.directory-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.agent-directory > input,
tr.agent-name-pattern > td > input,
tr.free-space-threshold > td > input {
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #bfbfbf;
    width: 100%;
}

.modalDialogBody > table {
    width: 100%
}

.directories-input > ol >li > .handle {
  background: url('../../../../img/tags.png');
  width: 15px;
  height: 15px;
}