.config-table {
    border-collapse: collapse;
}

table.config-table td {
    padding: 5px;
    border-bottom: black solid 1px;
    text-align: left;
}

.directory-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.agent-directory > input {
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #bfbfbf;
    width: 100%;
}

.modalDialogBody > table {
    width: 100%
}
