.buildAgentStatus.disabled {
    text-decoration: line-through;
    color: darkred;
}

.statusTooltip {
    border: 1px solid black;
    background-color: white;
    padding: 5px
}

.usageTooltip {
    border: 1px solid black;
    background-color: white;
    padding: 5px
}

input.green-build {
    opacity: 0.65;
    cursor: not-allowed;
}

input.red-build {
    opacity: 0.65;
    cursor: not-allowed;
}

td.cleanup {
    white-space: nowrap;
    width: 145px;
}

th.tablesorter-headerAsc span {
  background: url('../../../../img/sortUp.gif') no-repeat right;
  padding-right: 16px;
}

th.tablesorter-headerDesc span {
  background: url('../../../../img/sortDown.gif') no-repeat right;
  padding-right: 16px;
}

.buildAgentName.green-build {
    background: url('../../../../img/buildStates/running_green_transparent.gif') no-repeat right;
    padding-right: 16px;
}

.buildAgentName.red-build {
    background: url('../../../../img/buildStates/running_red_transparent.gif') no-repeat right;
    padding-right: 16px;
}

tr.even {
    background: #ededed;
}

tr.even td {
    background: #ededed;
}

tr.odd {
    background: #FFFFFF;
}

tr.odd td {
    background: #FFFFFF;
}

tr.current-row {
    background: #FCFFE0;
}

tr.current-row td {
    background: #FCFFE0;
}

